input {
    keyboard {
        xkb {
            layout "us,ara"
            options "grp:win_space_toggle, caps:swapcaps"
        }
        repeat-delay 350
        repeat-rate 25
        numlock
    }
}

output "VGA-1" {
    mode custom=true "1440x900@60.00"
    scale 1
    transform "normal"
    position x=1280 y=0
    variable-refresh-rate // on-demand=true
    focus-at-startup
}

layout {
    gaps 0
    center-focused-column "never"
    preset-column-widths {
        //proportion 0.33333
        //proportion 0.5
        //proportion 0.66667
          proportion 1.0
    }
    default-column-width { proportion 1.0; }
    focus-ring {
        width 2
        active-color "#ffb780"
        inactive-color "#505050"
    }
    border {
        off
        width 0
        active-color "#ffc87f"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
}
//spawn-at-startup "waybar"
spawn-at-startup "foot"
